<!doctype html><html lang="fi"><head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://use.typekit.net/uyg2hmo.css">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link href="{{ '/assets/css/site.css' | relative_url }}" rel="stylesheet"/>
</head><body>
<header class="site-header">
  <nav class="site-nav">
    <a href="{{ '/'        | relative_url }}">Etusivu</a>
    <a href="{{ '/haapari/'| relative_url }}">Hääpari</a>
    <a href="{{ '/lisatietoa/' | relative_url }}">Lisätietoa</a>
  </nav>
</header>
<main>{{ content }}</main>
<footer>© {{ 'now' | date:'%Y' }} Jaakko & Veera</footer>
</body></html>
